@page
@using Microsoft.AspNetCore.Components.Web
@model Accounts.IndexModel
@{
    ViewData["Title"] = "Accounts page";
}

<div class="flex">
    <a asp-page="/Accounts/Add">Thêm</a>
</div>

<Table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Ngày tạo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.AccountModels.Count; i++)
        {
            var acc = Model.AccountModels[i];
            <tr data-id="@acc.Id" class="@(acc.IsActived ? "" : "table-danger")">
                <td>
                    <span class="d-inline-block rounded-circle @(acc.IsOnline ? "bg-success" : "bg-danger")"
                        style="width: 12px; height: 12px;"></span>
                </td>
                <td>@acc.Name</td>
                <td>@acc.CreatedDate.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a asp-page="/Accounts/View" asp-route-id="@acc.Id">Xem</a>
                    <a asp-page="/Accounts/Edit" asp-route-id="@acc.Id">Sửa</a>
                    <span data-id="@acc.Id" data-title="Thông báo" class="remove text-danger"
                        style="cursor: pointer;">Xóa</span>
                </td>
            </tr>
        }
    </tbody>
</Table>



@Html.AntiForgeryToken()

@section Scripts {
    <script src="~/js/UIUtils.js"></script>
    <script src="~/js/account.js"></script>
}